.input {
  border-width: 2px;
  border-color: #cccccc;
  padding: 7px;
  font-size: 17px;
  border-radius: 8px;
  border-style: double;
  box-shadow: 0px 0px 5px 0px rgba(42, 42, 42, 0.75);
}

.input:focus {
  outline: none;
}
